body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.cal-wrap {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cal-display,
.cal-display-sol,
.cal-button,
.cal-function {
    font-size: 1.2em;
}

.cal-display,
.cal-display-sol {
    height: 60px;
    width: calc(100% - 40px);
    border: none;
    text-align: right;
    font-weight: 400;
    color: #333333;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.cal-display-sol {
    height: 80px;
    font-size: 2em;
}

.cal-table {
    width: 100%;
    border-collapse: collapse;
}

.cal-table td {
    padding: 5px;
}

.cal-button {
    height: 50px;
    width: calc(25% - 10px);
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cal-button:hover {
    background-color: #eeeeee;
}

.cal-function {
    background-color: #cdcdcd;
}

.cal-sol {
    background-color: #85c1e8;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cal-sol:hover {
    background-color: #1fa7ff;
}
